:root {
  --bg-color: #040102;
  --bg-container: #040102;
  
  --color-primary: #FFF;
  --color-secondary: #00D6DA;
  --color-secondary-2: #F8EF00;
  --color-secondary-3: #001819;
}

body {
  color: var(--color-primary);
  margin: 0;
  height: 100vh;
  background-color: var(--bg-color);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}
