.password-container {
    display: flex;
}
.password-input {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}

.btn-password-copy {
    width: 80px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
}