.password-config-container {
    text-align: left;
}

.password-select-length {
    accent-color: var(--color-secondary);
    width: 100%;
}

.input-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.input-checkbox:nth-child(1) {
    margin-top: 20px;
}

.btn-generate-password {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    font-weight: 700;
    font-size: 20px;
    background-color: var(--color-secondary-2);
    border: none;
    cursor: pointer;
    padding: 10px 100px;
    margin: auto;
}