.password-container {
    display: flex;
    margin-bottom: 30px;
}

.password-input {
    color: #FFF;
    font-weight: 700;
    border: 2px solid var(--color-secondary);
    background-color: var(--color-secondary-3);
    padding: 10px 5px 10px 10px;
    width: 100%;
    cursor: auto;
    outline: none;
    box-sizing: border-box;
}

.btn-password-copy {
    display: flex;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    /* width: 80px; */
    padding: 10px 20px;
    background-color: var(--color-secondary-2);
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.btn-password-copy:hover{
    background-color: var(--color-secondary-2-hover);
}

.btn-password-copy:disabled {
    background-color: gray;
    cursor: not-allowed;
}