.password-config-container {
    text-align: left;
}

.password-select-length {
    accent-color: red;
    width: 100%;
}

.input-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.input-checkbox:nth-child(1) {
    margin-top: 20px;
}